/* use font fase 
How front style display in web page */
@font-face {
    font-family: OpenSans;
    src:url('./project_demo/assests/fonts/OpenSans-VariableFont_wdth');
}
/* universal margi --> for all sides */
*{
    margin: 0;
}
/* for whole backgroud color */
body{
    background-color: aqua;
}
topheader{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
}

/* Header */
#topheader{
    padding: 20px;
    background-color:white;
    overflow: auto;
}
.logo img{     /*logo image  */
    width: 200px;
}
.logo{
    float: left;
}
.menu{
    float: right;
}

.menu_item li{
    list-style: none;
    float: left;
    padding: 10px;
    text-transform: uppercase;

}
.btn-primary{
    padding: 5px, 10px;
    background-color: rgb(35, 35, 234);
    color: white;
    font-weight: bold;

}
.container{
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* Body part */


/* footer */

.main_footer{
    background-color: #2f589b;
    padding: 40px, 0;
    height: 200px;
}

.div25{
    width: 33.33%;  
    float:left;
    padding: 5px;
}
.div50{
    width: 50%;
    float: left;
    overflow: auto;
}
 pb-40{
    color: #c5cfdb;
    text-decoration: uppercase;
    font-weight: 700;
 }

.main_footer a{

}
.list-unstyle{
    margin-left: 0px;
    padding-left: 0px;
    
}

.pb-25{
    padding-bottom: 20px;
}