@font-face {
    font-family: OpenSans;
    src:url('./project_demo/assests/fonts/OpenSans-VariableFont_wdth');
}
/* universal margi --> for all sides */
*{
    margin: 0;
}

body{
    background-color: aqua;
}
topheader{
    background-color: antiquewhite;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}

/* Header */
#topheader{
    padding: 20px;
    background-color:white;
    overflow: auto;
}
.logo img{
    width: 200px;
}
.logo{
    float: left;
}
.menu{
    float: right;
}

.menu_item li{
    list-style: none;
    float: left;
    padding: 10px;
    text-transform: uppercase;

}
.btn-primary{
    padding: 5px, 10px;
    background-color: rgb(51, 51, 182);
    color: white;
    font-weight: bold;

}
.container{
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* Body part */


/* footer */

.footer_box_one{
    background-color: aliceblue;

}